html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: ethnocentric, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1 {
  margin: 0;
  color: azure;
}

.App {
  text-align: center;
}

.home h1 {
  padding-top: 8rem;
  font-size: 6rem;
}

ul {
  padding: 0;
}

.homepage-buttons:hover {
  transform: scale(1.2);
}

.buttons {
  padding-top: 5rem;
}

.buttons a {
  color: azure;
  text-decoration: none;
  font-size: 30px;
}

.card {
  height: 8rem;
  float: left;
  padding-left: 0.5rem;
}

.hand-container {
  position: absolute;
  height: 10rem;
  bottom: 5%;
}

.hand {
  position: relative;
  left: 40px;
}

.hand-background-left {
  height: 10rem;
  position: absolute;
  left: 0;
  z-index: 2;
}

.hand-background-right {
  position: absolute;
  left: -20rem;
  top: 8%;
  width: 100vw;
}

.hp-bar-container {
  position: absolute;
  height: 1rem;
  top: 5%;
}

.hp-bar-background {
  height: 5rem;
}

.hp {
  position: relative;
  left: 75px;
  bottom: 75px;
}

.first-heart {
  position: absolute;
  left: 0;
  height: 2rem;
  /* margin-left: 75px; */
}

.heart {
  height: 2rem;
  float: left;
  padding-left: 29px;
}

.main-char {
  position: absolute;
  height: 20rem;
  left: 7.5rem;
  top: 8rem;
}

.enemy-heart {
  position: absolute;
  height: 13rem;
  right: 7rem;
  bottom: 20px;
}

.enemy-heart-broken {
  position: absolute;
  height: 10rem;
  right: 5rem;
  bottom: 30px;
}

.first-req-mask {
  position: absolute;
  width: 20rem;
  height: 3.2rem;
  object-fit: cover;
  z-index: 2;
}

.req-mask {
  position: relative;
  width: 20rem;
  height: 3.2rem;
  margin-left: 20rem;
  object-fit: cover;
  z-index: 2;
}

.reqs-list {
  position: absolute;
  align-items: center;
  top: 24.5rem;
  margin-left: 40rem;
}

.req-name {
  position: absolute;
  right: 6.5rem;
  margin-top: 1rem;
  z-index: 3;
}

.enemy-attack-container {
  width: 50vw;
  float: right;
}

.enemy-attack {
  position: absolute;
  width: 35rem;
  right: 20px;
  top: 25px;
  z-index: 2;
}

.enemy-attack-name {
  position: relative;
  font-size: 2.25rem;
  top: 3rem;
  right: 30px;
  z-index: 3;
}

.calc-modal-container {
  position: absolute;
  left: 25vw
}

.calc-modal {
  position: absolute;
  height: 12rem;
  top: 30vh;
}

.calc-modal-operator {
  position: absolute;
  display: inline-block;
  margin-inline: 2rem;
  height: 6rem;
  top: 15rem;
  left: 11.5rem;
}

.calc-modal-operand {
  position: relative;
  display: inline-block;
  margin-inline: 6rem;
  height: 8rem;
  left: 0rem;
  top: 14rem;
}